env/
.DS_Store
Docker/__pycache__

venv/

*.pyc
__pycache__/

instance/
data.db

songs_condensed.csv
songs_with_attributes_and_lyrics.csv

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
helpers/*
json_template/

# Node/React
node_modules/
frontend/dist/
frontend/node_modules/
package-lock.json

.env